body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: medium;
}

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 100%; }
h4 { font-size: 80%; }
h5 { font-size: 70%; }
h6 { font-size: 60%; }
code { font-size: 100%; }

.accordion-item h2 button { color: #333;}

span.lead { font-size: 70%; display:block }

#content { display: block;}

#footer { display: block; width: 100%;}